
*{
    margin: 0;
    padding: 0;
}
.container{
    height: calc(100vh - 50px);
    padding-top: 50px;
    margin-bottom: 2rem;
    
   
}
.wrapper{
    display: flex;
    align-items: center;
    height: 100%;
}
.wrapper-reverse{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 100%;
}
.left{
    flex: 1;
    padding: 0px 2rem;
    font-family: 'Roboto', sans-serif;
    /* border: 1px solid black; */
}
.left h2{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.right{
    flex: 1;
    /* border: 1px solid red; */
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .spinner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
@media screen and (width<=768px){
    .wrapper{
        flex-direction: column;
        gap: 2rem;
    }
    .wrapper .left{
        margin-top: 2rem;
    }
}

